/*10821*/
.product-single__title{
  text-transform:uppercase;
  font-size:28px;
}

.product_short_desc{
  font-size:18px;
}
.product__price{
  position:relative;
  top:-2px;
}
#shopify-block-73736c18-48c5-4359-b214-69f6ae833249{
  display:inline-block;
  width:60%;
  position:relative;
  top:-5px;
}
.oke-sr-count{
  text-decoration:underline;
}

input.rc-radio__input[type='radio'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  display:inline-block;
}

input.rc-radio__input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20%;
  border-radius: 50%;
  position:relative;
  top:-0.5px;
  left:0.5px;
}

input.rc-radio__input[type="radio"]:checked:before {
  background: #000;   
}

input.rc-radio__input[type="radio"]:checked {
  border-color: #000;
}
.rc-radio__label{
  font-weight: normal !important;
}
.rc-template__legacy-radio .rc_widget__option__selector + .rc-selling-plans{
  padding-left:0px !important;
  margin-top: 15px !important;
}
.payment-buttons .add-to-cart{
  text-transform:uppercase;
}
.prod_shipping{
  display:block;
  text-align:center;
}
.prod_free_ship{
  text-transform:uppercase;
  font-size:14px;
  font-weight:500;
  padding-right: 32px;
  border-right: solid 1px #cbcbcb;
}
.prod_return{
  text-transform:uppercase;
  font-size:14px;
  font-weight:500;
  padding-left:32px;
}
.product-block--tab:first-child .collapsibles-wrapper{
  border-top:solid 1px #cbcbcb !important;
}
.collapsible-trigger-btn--borders{
  border-bottom:solid 1px #cbcbcb !important;
}
.collapsible-trigger-btn--borders.is-open{
  border-bottom:none !important;
}
.collapsible-trigger-btn{
  font-size:16px;
  padding-top: 22px !important;
}
.collapsible-trigger__icon{
  top:55% !important;
}

.product__main-photos .product-slideshow{
  border:none !important;
}
#shopify-section-template--15446798139445__16760251337d397432{
  background:#F5F6F6;
}

#shopify-section-template--15446798139445__16760251337d397432 .index-section{
  margin-bottom:0px !important;
}
.okeReviews[data-oke-container] .oke-w-reviews-list-item, div.okeReviews .oke-w-reviews-list-item{
  border:none !important;
}
.okeReviews[data-oke-container].oke-w, div.okeReviews.oke-w{
  max-width:1400px !important;
}
.oke-w-header{
  display:none !important;
}
.oke-w-navBar-item{
  text-transform:uppercase !important;
}
.oke-w{
  --oke-stars-foregroundColor:#000 !important;
}
.howtoapply_container, .packaging_container{
  display:table;
}

.product-recommendations .ads-video-box video,.mobile-video-box video{
  object-fit: cover !important; 
}
.product-recommendations .grid-item{
  flex: 0 0 33.33% !important;
  max-width: 100%;
  padding-top: 30px;
}
.product-recommendations .ads-video-box {
   padding-right: 50px;
   padding-top:0px;
}
.recommand-short-desc{
  font-size: 14px;
  color: #000;
  font-weight: normal;
  padding-top: 8px;
}
.header-recommendation {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: ;
  margin-left: 38%;
  z-index: 1;
}
.mobile-visible {
  display:none;
}

@media only screen and (min-width: 769px){
  .product-single__meta{
    padding-top:25px !important;
  }
  .product-block--price{
    display:inline-block;
    border-right:solid 1px #cbcbcb;
    margin-right:35px;
    padding-right:35px;
    height:25px
  }
  .product-full-width {
    margin-top: 40px !important;
  }
  .howtoapply_content{
    padding-left:55px;
    padding-right:100px;
  }
  .packaging_content{
    padding-right:120px;
  }
  .page-content--product{
    padding-top:50px !important;
  }
  .howtoapply_image.grid__item, .howtoapply_content.grid__item,
  .packaging_content.grid__item, .packaging_image.grid__item{
    float:unset !important;
    display:table-cell;
    vertical-align:middle;
  }
  .payment-buttons .add-to-cart{
    margin-top:15px !important;
  }
}
@media only screen and (max-width: 769px){
  .product-single__meta{
    padding-top:5px !important;
  }
  .product-block--price{
    display:inline-block;
    border-right:solid 1px #cbcbcb;
    margin-right:20px;
    padding-right:20px;
    height:25px
  }
  .page-content--product{
    padding-top:38px;
  }
  .product-single__title{
    font-size:20px;
    padding-left:15px;
    padding-right:15px;
  }
  .product-single__header--mobile{
    margin-bottom:18px;
  }
  .product-block[data-dynamic-variants-enabled=""]{
    margin:0px !important;
  }
  .product_short_desc{
    font-size:16px;
  }
  .grid__item{
    padding-left:24px;
    padding-right:8px;
  }
  .product__price{
    font-size:20px;
  }
  .rc-radio{
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .prod_free_ship{
    display:block !important;
    padding-right:0px;
    border-right:none;
  }
  .prod_return{
    padding-left:0px;
    margin-top:10px;
  }
  select.rc_widget__option__plans__dropdown{
    width:100%;
  }
  .collapsibles-wrapper{
    padding-left:24px;
    padding-right:24px;
  }
  .product-full-width .product-block--tab .collapsible-trigger-btn{
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .ingredients-main-holder{
    display:unset !important;
  }
  .collapsible-content__inner{
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .ingredients_table_holder{
    padding:0px !important;
    width:100%;
    margin-bottom:20px;
  }
  .ingredients_video_holder{
    width:100%;
    margin-bottom:20px;
  }
  .howtoapply_image.grid__item, .howtoapply_content.grid__item,
  .packaging_content.grid__item, .packaging_image.grid__item{
    /*float:unset !important;*/
    display:unset !important;
    vertical-align:middle;
    margin-bottom:20px;
    padding-left: 18px;
    padding-right: 2px;
  }
  .product-main-slide{
    border:none !important;
  }
  .payment-buttons .add-to-cart{
    margin-top:10px !important;
  }
  .prod_free_ship:after{
    content: "";
    border-bottom: solid 1px #cbcbcb;
    width:40%;
    margin:8px auto 12px auto;
    display:block;
  }
  .product-block--tab:first-child .collapsibles-wrapper{
    margin-left:24px;
    margin-right:24px;
    padding-left:0px;
    padding-right:0px;
  }

  .product-recommendations .grid-item{
    flex: 0 0 60% !important;
  }
  .mobile-visible {
    display:block !important;
  }
  .mobile-video-box {
    padding-left: 17px;
    padding-right: 17px;
  }
  .product-recommendations .product-grid {
    padding-right:0px !important;
  }
  .header-recommendation {
    position:unset;
    margin-left:0px;
    width:100%;
    margin-bottom: 0px;
    margin-top: 17px;
  }
}




